<h1>Time People of the Year: 1927 - 2016</h1>
<p>Please select a range of years to view People Of The Year:</p>
<form method="post">

    <label name="startYear">Start Year</label>
    <input name="startYear" />

    <label name="endYear">End Year</label>
    <input name="endYear" />

    <button type="submit">Submit</button>

</form>

@*@foreach (TimePersonOfTheYear.Models.TimePerson person in Model)
{
    <h3>@person.Name: Time Person of the Year @person.Year</h3>
    <p>Lived @person.BirthYear Died @person.DeathYear</p>
    <p>Honor: @person.Honor</p>
    <p>Country: @person.Country</p>
    <p>Title: @person.Title</p>
    <p>Category: @person.Category</p>
    <p>Context: @person.Context</p>
}*@